<form>
  <div class="form-row">
  <div class="form-group col-12 pl-0">
    <label for="inputAddress">Nom</label>
    <input type="text" class="form-control" id="inputAddress" placeholder="Nom">
  </div>
  </div>
  <div class="form-row">
  <div class="form-group col-12 pl-0">
    <label for="inputAddress2">Adresse</label>
    <input type="text" class="form-control" id="inputAddress2" placeholder="1234 Main st">
  </div>
  </div>
  <div class="form-row">
    <div class="form-group col-md-6 pl-0">
      <label for="inputCity">Ville</label>
      <input type="text" class="form-control" id="inputCity">
    </div>
    <div class="form-group col-md-6">
      <label for="inputZip">Code postal</label>
      <input type="text" class="form-control" id="inputZip">
    </div>
  </div>
  <div class="form-row">
    <div class="form-group col-md-6 pl-0">
      <label for="inputPhone">Tel</label>
      <input type="phone" class="form-control" id="inputPhone" placeholder="+33">
    </div>
    <div class="form-group col-md-6">
      <label for="inputPassword4">Site</label>
      <input type="password" class="form-control" id="inputPassword4" placeholder="www.mon-site.com">
    </div>
  </div>
  <div class="form-row">
    <div class="form-group col-12 pl-0">
      <label for="exampleFormControlTextarea1">Information</label>
      <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
    </div>
  </div>
  <div class="forms-row">
    <button type="submit" class="btn btn-primary d-flex ml-auto">Ajouter</button>
  </div>

</form>
